Repository CHZZK-Study/HOWMeet-Frontend, pull requests merged in 2024-08, with the labels that each got.

#9 [STYLE/HM-78]: 로그인, 시작페이지 디자인 반영
  .eslintrc.cjs
  index.html
  package-lock.json
  package.json
  public/apple-touch-icon.png
  public/assets/icons/apple-touch-icon.png
  public/assets/icons/favicon.ico
  public/assets/icons/form/clear-icon.svg
  public/assets/icons/form/clear.svg
  public/assets/icons/icon-196x196.png
  public/assets/icons/icon-512x512.png
  public/assets/icons/login/google.svg
  public/assets/icons/login/kakao.svg
  public/assets/icons/login/naver.svg
  public/assets/icons/logo/logo-title.svg
  public/assets/icons/main/bar-chart.svg
  public/assets/icons/main/checkbox.svg
  public/assets/icons/main/share.svg
  public/assets/icons/main/watch.svg
  public/assets/react.svg
  public/favicon.ico
  public/icon-196x196.png
  public/icon-512x512.png
  public/vite.svg
  src/components/login/FormInput.tsx
  src/components/login/FormInputButton.tsx
  src/components/login/LoginForm.tsx
  src/components/login/MemberLogin.tsx
  src/components/login/NonMemberLogin.tsx
  src/components/login/TapHeader.tsx
  src/components/main/GuideList.tsx
  src/constants/form.ts
  src/constants/icons.ts
  src/constants/path.ts
  src/lib/pwaConfig.ts
  src/pages/LoginPage.tsx
  src/pages/MainPage.tsx
  src/styles/GlobalStyle.ts
  src/styles/components/container.ts
  src/styles/components/text.ts
  src/styles/theme.ts
  src/vite-env.d.ts
  svg.d.ts
  tsconfig.json
  vite.config.ts
Labels: ⚙️chore, 🎨 style

#8 [Feat/HM-80] 시작, 종료일 지정 바텀시트 UI 구현
  package-lock.json
  package.json
  public/assets/icons/common/close.svg
  public/assets/icons/common/next.svg
  public/assets/icons/common/prev.svg
  src/components/bottomsheet/Calendar.tsx
  src/components/bottomsheet/EndDate.tsx
  src/components/bottomsheet/StartDate.tsx
  src/components/common/Modal.tsx
  src/components/room/SelectDate.tsx
  src/hooks/useModal.ts
  src/pages/NewMeetingPage.tsx
  src/store/useDateStore.ts
  src/store/useModalStore.ts
  src/styles/theme.ts
  src/utils/calculateDate.ts
  svg.d.ts
Labels: 🎨 style

#14 [FEAT/HM-88]: 로그인 msw 적용
  .eslintrc.cjs
  package-lock.json
  package.json
  public/assets/icons/index.ts
  public/mockServiceWorker.js
  src/apis/instance.ts
  src/apis/user.api.ts
  src/components/bottomsheet/Calendar.tsx
  src/components/bottomsheet/EndDate.tsx
  src/components/bottomsheet/StartDate.tsx
  src/components/common/Header.tsx
  src/components/login/FormInputButton.tsx
  src/components/login/MemberLogin.tsx
  src/components/login/NonMemberLogin.tsx
  src/components/login/TapHeader.tsx
  src/components/main/GuideList.tsx
  src/components/room/RoomInput.tsx
  src/components/room/SelectDate.tsx
  src/components/room/SelectTime.tsx
  src/constants/api.ts
  src/constants/storage.ts
  src/data/guide.tsx
  src/hooks/useLogin.ts
  src/main.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/models/user.model.ts
  src/pages/ConfirmMeeting.tsx
  src/pages/MainPage.tsx
  src/store/userStore.ts
  tsconfig.json
Labels: ✨feature

#15 [Feat/HM-93] 달력 관련 기능 수정
  public/assets/icons/calendar/dashed.svg
  public/assets/icons/calendar/next.svg
  public/assets/icons/calendar/prev.svg
  src/components/bottomsheet/Calendar.tsx
  src/components/bottomsheet/EndDate.tsx
  src/styles/components/bottomsheet/bottomsheet.ts
Labels: ✨feature

#16 [Feat/HM-81]: 타임피커 컴포넌트 구현
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/bottomsheet/BottomSheetHeader.tsx
  src/components/bottomsheet/EndDate.tsx
  src/components/bottomsheet/StartDate.tsx
  src/components/bottomsheet/TimePicker.tsx
  src/components/meeting/result/AttendStatusHeader.tsx
  src/components/room/SelectTime.tsx
  src/pages/NewMeetingPage.tsx
  src/store/useModalStore.ts
  src/store/useTimeStore.ts
  src/styles/components/bottomsheet/bottomsheet.ts
  src/types/SetTime.ts
Labels: ✨feature, 🎨 style

#17 [Feat/HM-90]
  public/assets/icons/button/create-room-plus.svg
  public/assets/icons/index.ts
  src/components/common/Header.tsx
  src/components/roomlist/RoomItem.tsx
  src/components/roomlist/RoomList.tsx
  src/constants/title.ts
  src/pages/MeetingListPage.tsx
  src/styles/components/container.ts
  src/styles/theme.ts
Labels: 🎨 style

#20 [Style/HM-102] 홈화면 페이지 UI 구현
  package-lock.json
  package.json
  public/assets/icons/common/logout.svg
  public/assets/icons/index.ts
  src/components/bottomsheet/EndDate.tsx
  src/components/bottomsheet/LogOut.tsx
  src/components/bottomsheet/TimePicker.tsx
  src/components/common/Button.tsx
  src/components/home/HomeHeader.tsx
  src/components/home/UpComming.tsx
  src/components/room/SelectTime.tsx
  src/components/roomlist/CreateRoomButton.tsx
  src/components/roomlist/RoomList.tsx
  src/constants/title.ts
  src/pages/HomePage.tsx
  src/pages/MeetingListPage.tsx
  src/pages/NewMeetingPage.tsx
  src/routes/index.tsx
  src/store/useModalStore.ts
  src/styles/components/text.ts
  src/styles/theme.ts
Labels: 🎨 style

#19 [REFACTOR/HM-101] 타임테이블 수정 및 툴팁 모달창 생성 + 기타 오류 수정
  package-lock.json
  package.json
  public/assets/icons/form/check.svg
  public/assets/icons/form/url.svg
  public/assets/icons/index.ts
  src/App.tsx
  src/components/common/Header.tsx
  src/components/common/HowMeetHeader.tsx
  src/components/common/ToolTip.tsx
  src/components/meeting/MeetingHeader.tsx
  src/components/meeting/MeetingModal.tsx
  src/components/meeting/result/AttendStatusHeader.tsx
  src/components/meeting/result/ResultBottomSheet.tsx
  src/components/meeting/result/ResultHeatmap.tsx
  src/components/meeting/result/ResultInfoComp.tsx
  src/components/meeting/result/ResultNavbar.tsx
  src/components/meeting/result/ResultTimeSeleModal.tsx
  src/components/meeting/result/ResultTimeTable.tsx
  src/components/meeting/result/UrlShareModal.tsx
  src/components/meeting/result/nextWorkingFIle/SelectNavbar.tsx
  src/components/meeting/result/nextWorkingFIle/TimeRankingChart.tsx
  src/components/meeting/select/SelectableTimeTable.tsx
  src/components/meeting/select/TimeSelect.tsx
  src/components/meeting/select/TimeSelectCompModal.tsx
  src/components/meeting/select/TimeSelectTitle.tsx
  src/components/meeting/timetable/BaseTimeTable.tsx
  src/components/meeting/timetable/ResultTimeCell.tsx
  src/components/meeting/timetable/SelectTimeCell.tsx
  src/hooks/useTimeSelectionLogic.ts
  src/layouts/TimeTableLayout.tsx
  src/mocks/data/selectedTimeData.ts
  src/mocks/handlers.ts
  src/pages/ResultGraphPage.tsx
  src/pages/ResultPage.tsx
  src/pages/SelectPage.tsx
  src/routes/index.tsx
  src/store/meeting/timeStore.tsx
  src/store/meeting/useTimeStore.tsx
  src/styles/components/container.ts
  src/types/timeTableTypes.d.ts
  src/utils/meeting/graph/calculateRanking.ts
  src/utils/meeting/timetable/formatDateTime.ts
  src/utils/meeting/timetable/getAdjustedColor.ts
Labels: ✨feature, 🐛fix, 🎨 style, 👩🏻‍💻frontend, 🪄refactor

#21 [STYLE/HM-104]: 초대링크 로그인 페이지 구현
  public/assets/icons/logo/logo-title.svg
  src/components/login/MemberLogin.tsx
  src/components/login/NonMemberLogin.tsx
  src/pages/LoginPage.tsx
  src/pages/MainPage.tsx
  src/styles/components/text.ts
Labels: 🎨 style

#18 [FEAT/HM-98]: FCM 알림 기능 설정
  .env
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  src/hooks/useLogin.ts
  src/lib/fcmConfig.ts
  src/lib/notification.ts
  src/lib/registerServiceWorker.ts
Labels: ⚙️chore, ✨feature

#22 [Style/HM-105] 방 상세보기 페이지 UI 구현
  public/assets/icons/button/create-room-plus.svg
  src/components/roomdetail/Attenders.tsx
  src/components/roomdetail/ConfirmList.tsx
  src/components/roomdetail/CreateNewMeeting.tsx
  src/components/roomdetail/NonConfirmList.tsx
  src/pages/ConfirmMeeting.tsx
  src/pages/RoomPage.tsx
  src/routes/index.tsx
  src/styles/components/room/List.ts
  src/styles/theme.ts
Labels: 🎨 style
